/**
* Eric Meyer's Reset CSS v2.0 (http://meyerweb.com/eric/tools/css/reset/)
* http://cssreset.com
*/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, menu, nav, section {
    display: block;
}
body {
    line-height: 1;
}
ol, ul {
    list-style: none;
}
blockquote, q {
    quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
    content: '';
    content: none;
}
table {
    border-collapse: collapse;
    border-spacing: 0;
}


/**STYLE**/
html,body{
    width: 100%;
    height: 100%;
    overflow: hidden;
}

body{
    background-image: url('../img/bg.jpg');
    background-repeat: no-repeat;
    background-size: 100% 80%;
    color: white;
    font-family: Arial;
}

div{
    display: block;
}

h1{
    font-size: x-large;
    padding: 5px 0 20px 0;
}

h2{
    font-size: large;
    margin: 5px 0 20px 0;
}

#content h2{
    padding-top: 20px;
}

p{
    padding: 0 0 10px 0;
}

a{
    text-decoration: none;
}

a:hover{
    text-decoration: underline;
}

.menu_in{
    padding: 25% 10% 10% 10%;
}

#menu_l_cov, #menu_r_cov{
    width: 14.5%;
    height: 52%;
    top: 15%;
    background-size: 100% 100%;
}

#menu_l_cov{
    position: absolute;
    left: 0;
}

#menu_r_cov{
    position: absolute;
    right: 0;
}

#menu_l_cov{
    background-image: url('../img/menu_l.png');
}

#menu_r_cov{
    background-image: url('../img/menu_r.png');
}

#header{
    width: 100%;
    height: 9.7%;
}

#header_cov{
    width: 100%;
    height: 11.5%;
    background-image: url('../img/menu_t.png');
    background-size: 100% 100%;
    position: absolute;
    top: 0;
    left: 0;
}

#arrow_l, #arrow_r{
    width: 0.4%;
    height: 2%;
    position: absolute;
    top: 4.3%;
    background-repeat: no-repeat;
    background-size: 100% 100%;
    display: block;
}

#arrow_l:hover, #arrow_r:hover{
    cursor: pointer;
}

#arrow_l{
    left: 30%;
    background-image: url('../img/arrow_l.png');
}

#arrow_r{
    right: 30%;
    background-image: url('../img/arrow_r.png');
}

#games_cont{
    background-color: #444;
    height: 6%;
    width: auto;
    position: absolute;
    left: 30.8%;
    right: 30.8%;
    top: 2.5%;
}

.game{
    display: block;
    height: 100%;
    width: 25%;
    float: left;
}

.game:hover{
    cursor: pointer;
}

#login_cont{
    position: absolute;
    top: 2%;
    right: 8%;
    font-size: small;
}

#avatar{
    width: 5%;
    height: 8%;
    position: absolute;
    top: 1%;
    right: 2%;
    border-color: black;
    border-style: solid;
    border-width: 1px;
}

#footer{
    width: 100%;
    height: 7%;
    position: absolute;
    left: 0;
    bottom: 0;
    background-image: url('../img/menu_b.png');
    background-size: 100% 100%;
}

#logo{
    position: absolute;
    bottom: 0;
    right: 2%;
    height: 150%;
    margin-bottom: 1%;
}

#content_area{
    width: 100%;
    height: 80%;
}

#content, #content_cov{
    position: absolute;
    left: 17%;
    right: 17%;
    top: 15%;
    bottom: 10%;
    width: auto;
    height: auto;
}

#content_cov{
    background-size: 100% 100%;
    background-image: url('../img/content.png');
}

#content{
    padding: 50px;
    text-align: justify;
}

#content_inner{
    width: 100%;
    height: 100%;
    overflow: auto;
}

/*tmavá*/
body, #header, #menu_l, #menu_r{
    background-color: #131313;
}

a, a:hover, #header a:hover, #login{
    color: #F6C34D;
}

ul{
  list-style-type: circle;
  margin-left: 40px;
}

li{
    margin: 5px 0 0 5px;
}

#header a{
    color: white;
}

.error{
    color: #f53;
}

.pagination{
    list-style-type: none;
}

.pagination li{
    display: inline-block;
}
/*** Table Styles **/


th {
    color:#D5DDE5;;
    background:#333;
    border-bottom:4px solid #9ea7af;
    border-right: 1px solid #343a45;
    font-size:23px;
    font-weight: 100;
    padding:24px;
    text-align:left;
    text-shadow: 0 1px 1px rgba(0, 0, 0, 0.1);
    vertical-align:middle;
}

th:first-child {
    border-top-left-radius:3px;
}

th:last-child {
    border-top-right-radius:3px;
    border-right:none;
}

tr {
    border-top: 1px solid #C1C3D1;
    border-bottom-: 1px solid #C1C3D1;
    font-size:16px;
    font-weight:normal;
    text-shadow: 0 1px 1px rgba(256, 256, 256, 0.1);
}

tr:first-child {
    border-top:none;
}

tr:last-child {
    border-bottom:none;
}

tr:nth-child(odd) td {
    background:#555;
}

tr:last-child td:first-child {
    border-bottom-left-radius:3px;
}

tr:last-child td:last-child {
    border-bottom-right-radius:3px;
}

td {
    background:#444;
    padding:20px;
    text-align:left;
    vertical-align:middle;
    font-weight:300;
    font-size:18px;
    text-shadow: -1px -1px 1px rgba(0, 0, 0, 0.1);
    border-right: 1px solid #fff;
}

td:last-child {
    border-right: 0px;
}

th.horizontal {
    border-bottom: none;
    border-right: none;
    border-right:4px solid #9ea7af;
}

th.text-center {
    text-align: center;
}

th.text-right {
    text-align: right;
}

td.text-left {
    text-align: left;
}

td.text-center {
    text-align: center;
}

td.text-right {
    text-align: right;
}
